NETWORK=ship-log
HOST_IP=localhost
HOST_KAFKA_UI_PORT=8080
HOST_KAFKA_BROKER_PORT=9092
HOST_KAFKA_CONNECTOR_API_PORT=8083
HOST_FLINK_JOB_MANAGER_PORT=8081
HOST_POSTGRES_PORT=5432
HOST_REDIS_DB_PORT=6379
HOST_REDIS_INSIGHT_PORT=8001
HOST_GRAFANA_PORT=3000
POSTGRES_USER=flinkuser
POSTGRES_PASSWORD=flinkpassword
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin
KAFKA_RAW_TOPIC=ship_logs_raw
KAFKA_RAW_POSITION_REPORT_TOPIC=raw_position_reports
KAFKA_RAW_SHIPSTATIC_METADATA_TOPIC=raw_shipstatic_metadata
KAFKA_RAW_BASESTATION_REPORT_TOPIC=raw_basestation_reports
KAFKA_CLEAN_POSITION_REPORT_TOPIC=clean_position_reports
KAFKA_CLEAN_SHIPSTATIC_METADATA_TOPIC=clean_shipstatic_metadata
KAFKA_CLEAN_BASESTATION_REPORT_TOPIC=clean_basestation_reports
KAFKA_PRESENTATION_LIVE_SHIP_TOPIC=presentation_live_ships
KAFKA_PRESENTATION_BASESTATION_TOPIC=presentation_basestations
CHECKPOINT_INTERVAL=10 min
AWS_S3_WAREHOUSE_LINK=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
AIS_API_KEY=